if TARGET_DONGSHANPIPICOW

config SYS_BOARD
	default "dongshanpipicow"

config SYS_VENDOR
	default "100ask"

config SYS_CONFIG_NAME
	default "dongshanpipicow"

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y

config OF_LIST
	default "mstar-pioneer3-ssd210-100ask-dongshanpipicow"

config DEFAULT_DEVICE_TREE
	default "mstar-pioneer3-ssd210-100ask-dongshanpipicow"

config ENV_UBI_PART
	default "ubi"

config ENV_UBI_VOLUME
	default "env"

config SPL_UBI_MAX_VOL_LEBS
        default 256
config SPL_UBI_MAX_PEB_SIZE
        default 131072
# Enough for 128MB
config SPL_UBI_MAX_PEBS
        default 1024
config SPL_UBI_VOL_IDS
        default 8
config SPL_UBI_PEB_OFFSET
        default 3
config SPL_UBI_VID_OFFSET
        default 2048
config SPL_UBI_LEB_START
        default 4096
config SPL_UBI_LOAD_MONITOR_ID
	default 0

config MTDPARTS_DEFAULT
	default "spi-nand0:128K(gcis),128K(spl0),128K(spl1),-@384K(ubi)"

endif

