if TARGET_SOM2D01

config SYS_BOARD
	default "som2d01"

config SYS_VENDOR
	default "wirelesstag"

config SYS_CONFIG_NAME
        default "som2d01"

config OF_LIST
	default "mstar-infinity2m-ssd201 mstar-infinity2m-ssd202d mstar-infinity2m-ssd201-wirelesstag-ido-som2d01 mstar-infinity2m-ssd202d-wirelesstag-ido-som2d01 mstar-infinity2m-ssd202d-wirelesstag-ido-sbc2d06-v1b-22w"

config DEFAULT_DEVICE_TREE
	default "mstar-infinity2m-ssd201"

config MTDPARTS_DEFAULT
	default "spi-nand0:128256K@2816K(UBI)"

config SPL_UBI
	default y
config SPL_UBI_MAX_VOL_LEBS
	default 256
config SPL_UBI_MAX_PEB_SIZE
	default 131072
config SPL_UBI_MAX_PEBS
	default 1024
config SPL_UBI_VOL_IDS
	default 8
config SPL_UBI_PEB_OFFSET
	default 22
config SPL_UBI_VID_OFFSET
	default 2048
config SPL_UBI_LEB_START
	default 4096
config SPL_UBI_LOAD_MONITOR_ID
	default 0

endif
