CONFIG_ARM=y
CONFIG_ARCH_MSTARV7=y
CONFIG_MSTAR_PIONEER3=y
CONFIG_TARGET_PREDITA=y
#CONFIG_MSTAR_IPL=y

CONFIG_MSTAR_BANG_BOOT0=y

#CONFIG_DEBUG_LL=y
#CONFIG_DEBUG_LL_UART_8250=y
#CONFIG_DEBUG_UART_PHYS=0x1f221000
#CONFIG_DEBUG_UART_8250_SHIFT=3

#CONFIG_DEBUG_UART=y
#CONFIG_DEBUG_UART_SKIP_INIT=y
#CONFIG_DEBUG_UART_ANNOUNCE=y
CONFIG_MTDPARTS_DEFAULT="spi-nand0:-@4096K(ubi)"

CONFIG_SPL_USE_ARCH_MEMCPY=n
CONFIG_SPL_USE_ARCH_MEMSET=n
CONFIG_SPL_RAW_IMAGE_SUPPORT=n
#CONFIG_SPL_SPI_NAND_SUPPORT_LONGSYS=y
CONFIG_SPL_BLK=n
