CONFIG_ARM=y
CONFIG_ARCH_MSTARV7=y
CONFIG_MSTAR_INFINITY2M=y
CONFIG_TARGET_SOM2D01=y
CONFIG_MSTAR_IPL=y

#CONFIG_SPL_TEXT_BASE=0xa0000000


CONFIG_CMD_MTD=y

CONFIG_SPL_DM_SPI_FLASH=n
CONFIG_SPL_SPI_FLASH_SUPPORT=n

CONFIG_DYNAMIC_CRC_TABLE=y
CONFIG_SPL_LEGACY_IMAGE_CRC_CHECK=y

CONFIG_MTD_UBI_FASTMAP=y
#CONFIG_MTD_UBI=n
#CONFIG_CMD_UBI=n

# environment
CONFIG_ENV_IS_NOWHERE=n
CONFIG_ENV_IS_IN_UBI=y
CONFIG_ENV_UBI_PART="UBI"
CONFIG_ENV_UBI_VOLUME="env"

CONFIG_SPL_OPTIMIZE_INLINING=y

CONFIG_EFI_LOADER=n
CONFIG_INPUT=n
CONFIG_SPL_USE_ARCH_MEMCPY=n
