CONFIG_ARM=y
# CONFIG_SPL_USE_ARCH_MEMCPY is not set
# CONFIG_SPL_USE_ARCH_MEMSET is not set
CONFIG_ARCH_MSTARV7=y
CONFIG_MSTAR_BANG_BOOT0=y
CONFIG_MSTAR_PIONEER3=y
CONFIG_TARGET_DONGSHANPIPICOW=y
CONFIG_MTDPARTS_DEFAULT="spi-nand0:-@384K(ubi)"
CONFIG_DEBUG_UART=y
# CONFIG_SPL_RAW_IMAGE_SUPPORT is not set
CONFIG_SPL_SPI_NAND_SUPPORT_WINBOND=y
# CONFIG_SPL_BLK is not set
CONFIG_DEBUG_UART_ANNOUNCE=y
CONFIG_DEBUG_UART_SKIP_INIT=y
