menu "MStar/SigmaStar v7 options"
	depends on ARCH_MSTARV7

config MSTAR_IPL
	bool "u-boot is being loaded by the vendor IPL"
	help
	  Say y here if you are loading u-boot via the vendor
	  IPL. Note that the image can only be 48KB or less
	  for the IPL to load it so this only really applies
	  to a SPL/TPL.

config MSTAR_INFINITY1
	bool "infinity1 family"

config MSTAR_INFINITY3
	bool "infinity3 family"

config MSTAR_MERCURY5
	bool "mercury5 family"

choice
     prompt "Board type"

config TARGET_MSTARV7
	bool "Generic MStar/SigmaStar v7 boards"

endchoice

endmenu

if ARCH_MSTARV7

config SPL_TEXT_BASE
	default 0x23c00000 if MSTAR_IPL
	default 0xa0000000

config SYS_TEXT_BASE
	default	0x20000000

config DEBUG_UART_BASE
	default 0x1f221000

config DEBUG_UART_CLOCK
	default 172000000

config DEBUG_UART_SHIFT
	default 3

config SYS_SOC
	default "mstarv7"

endif
